.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: aliceblue;
}
.link.active {
  color: #e84a5f;
}
