.logBox {
  position: absolute;
  right: 10px;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: aliceblue;
}

.link.active {
  color: #e84a5f;
}
